.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

img.responsive-img {
    max-width: 100%;
    height: auto;
}





// MARGINS AND PADDINGS

$spaces: (1, 2, 3, 4, 5);

@each $space in $spaces {
    .m-#{$space} {
        margin: #{$space}rem;
    }

    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    .my-#{$space} {
        margin: 0 #{$space}rem;
    }

    .p-#{$space} {
        padding: #{$space}rem;
    }

    .py-#{$space} {
        padding: #{$space}rem 0;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}